@import "../../app.scss";

.portfolio {
    position: relative;

    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: gold;
        font-size: 32px; 

        @include tablet {
            padding-top: 20px;
            font-size: 24px;
        }

        @include mobile {
            padding-top: 20px;
            font-size: 24px;
        }

        @include mobileS {
            font-size: 20px;
        }

        .progressBar {
            height: 10px;
            background-color: #fff;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .wrapper {
            max-width: 1366px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            @include desktop {
                padding: 10px;
            }

            @include tablet {
                flex-direction: column;
                margin-top: 20px;
                gap: 5px;
            }

            @include mobile {
                flex-direction: column;
                gap: 5px;
            }

            .imageContainer {
                flex: 1;
                height: 50%;

                @include tablet {
                    margin-top: 50px;
                    width: 100%;
                    max-height: 300px;
                }

                @include mobile {
                    margin-top: 30px;
                    width: 100%;
                    max-height: 300px;
                }

                @include mobileS {
                    margin-top: 50px;
                    max-height: 250px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;

                    @include tablet {
                        object-fit: contain;
                    }

                    @include mobile {
                        object-fit: contain;
                    }
                }
            }

            .textContainer {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;

                @include tablet {
                    transform: none !important;
                    padding: 10px;
                    align-items: center;
                    text-align: center;
                    gap: 10px;
                }

                @include mobile {
                    transform: none !important;
                    padding: 5px;
                    align-items: center;
                    text-align: center;
                    gap: 7px;
                }

                h3 {
                    font-size: 60px;
                    font-family: "Khand", sans-serif;

                    @include mobile {
                        font-size: 34px;
                        padding: 5px;
                    }

                    @include mobileS {
                        font-size: 28px;
                    }
                }

                p {
                    font-size: 20px;
                    font-family: "Khand", sans-serif;

                    @include mobile {
                        font-size: 18px;
                        padding: 5px;
                    }

                    @include mobileS {
                        padding: 5px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }

                .demo {
                    background-color: #501bab;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    border: 1px solid white;
                    border-radius: 10px;
                    padding: 10px;
                    width: 200px;
                    cursor: pointer;

                    @include mobile {
                        padding: 10px;
                        width: 200px;
                    }
                }

                .github {
                    background-color: white;
                    color: #000;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    border: 1px solid #501bab;
                    border-radius: 10px;
                    padding: 10px;
                    width: 200px;
                    cursor: pointer;

                    @include mobile {
                        padding: 10px;
                        width: 200px;
                    }
                }

                .disabled-link {
                    background-color:gray;
                    color: #000;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    width: 200px;
                    cursor: not-allowed;

                    @include mobile {
                        padding: 10px;
                        width: 200px;
                    }
                }
            }
        }
    }
}